.head{
    font-family: 'Sigmar One', cursive;;
}
body{
    font-family: 'Overpass', sans-serif;
}
.background-image{
    background: url(../assets/concrete-texture.png); 
   height: 100vh;
}

h1{
<<<<<<< HEAD
    font-family: 'Fjalla One', sans-serif;
    /* background: url(../assets/concrete-texture.png); */
    background: #B0BEC5;
    color:white;
}
.uk-button{
    background: #B0BEC5;
    color:white
=======
    font-family: 'Bentham', serif;
>>>>>>> 852e2ee74650df11679308cfa6eef657b3112adc
}
header{
    margin-bottom:30px;
}
.apptext{
font-size:18px;
margin-left: 10px;;
}
.form , .apptext{
margin-top:10px;
}
h2{
    margin-top: 10px;
   
}
.form{
    margin-right:10px;
}